/* Basic CSS reset */

/* Colour pallet:
  #171C26 - cyan grey
  #6C7689 - medium grey
  #A4AAB7 - light grey
  #FFFFFF - white

  OUR BASE UNIT WILL BE 8px! (8px, 16px, 24px, 32px, 40px, 48px, 56px, 64px...)
*/

*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.page_body {
    font-family: Arial, Helvetica, sans-serif;  
    height: 100%;
    max-width: 480px;
    margin: 0 auto;
    border: 1px solid #171C26;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-color: #FAFAFA; */
}

.page {
  margin-left: 8%;
  margin-right: 8%;
}

.topbar {
  margin-top: 8px;
}

.topbar h2 {
  display: inline;
}

.fav_button {
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 50%;
  background-color: #171C26;
  float: right;
}



/* ---------- tabbar styling ---------- */

.tabbar {
    background-color: white;
    border: 1px solid #171C26;
    border-radius: 40px;
    position: fixed;
    bottom: -80px;
    margin: 0 auto;
    z-index: 9999;
    width: 100%;
    max-width: 480px;
    height: 160px;
    text-align: center;
  }

/* Style the links inside the navigation bar */

.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  padding: 24px 24px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.tab_icon {
    width: 40px;
    color: #171C26;
}

#home_icon {
  padding: 3px;
}

#music_icon {
  padding: 4px;
}

.musicplayer {
  background-color: #171C26;
  border-radius: 40px;
  position: fixed;
  bottom: -160px;
  margin: 0 auto;
  z-index: 9998;
  width: 84%;
  width: 100%;
  max-width: 480px;
  height: 320px;
  text-align: center;
  cursor: pointer;
  margin-left: 8%;
}

.down_icon {
  width: 40px;
  display: none;
}

#imgIcon {
  width: 40px;
  float: left;
  margin-left: 4%;
}

  
/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}
  
  /* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--green);
}

@media screen and (max-width: 1000px) {
  .page {
    margin-left: 0;
    margin-right: 0;
  }

  .musicplayer {
    width:100%;
    margin:0;
  }
/* ---------- grid container styling ---------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  gap: 1em;
}

@media (min-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-container > article {
  text-align: center;
  padding: 2em 1em;
  background-color: var(--white);
  transition: 0.3s;
  cursor: pointer;
}

.grid-container > article:hover {
  box-shadow: 0 8px 16px 0 var(--green-opacity);
}

.grid-container > article img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border: 1px solid #171C26;
  border-radius: 50px;
}

.grid-container > article h4 {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px;
  color: #171C26;
}

.grid-container .empty {
  grid-column: 1 / span 3;
  grid-row: 3;
}

/* ---------- Artists page styling ---------- */

.artists_header {
  color: #171C26;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 30px;
}