/* Basic CSS reset */

/* Colour pallet:
  #171C26 - cyan grey
  #6C7689 - medium grey
  #A4AAB7 - light grey
  #FFFFFF - white

  OUR BASE UNIT WILL BE 8px! (8px, 16px, 24px, 32px, 40px, 48px, 56px, 64px...)
*/

*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.page_body {
    font-family: Arial, Helvetica, sans-serif;  
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: linear-gradient(white, lightgrey);
    margin-top: 16px;
    overflow-y:scroll;
}

.topbar {
  padding: 8px;
}

.heading {
  display: inline-block;
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 8px;
}

.topbar h2 {
  display: inline;
  padding-top: 8px;
  padding-right: 32px;
}

.page {
  margin-left: 8%;
  margin-right: 8%;
}

.page-content {
  padding: 8px;
}

.fav_button {
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 50%;
  background-color: #171C26;
  float: right;
  position: relative;
  top: -6px;
  margin-right: 40px;
}

#home {
  height: 100em; /* TEMPORARY */
}

.video-card {
  margin: auto;
  margin-top: 32px; 
  background-color: #171C26;
  border: 1px solid #6C7689;
  border-radius: 3%;
  padding: 8px;
  width: fit-content;
}

.tinder-btn-container {
  margin-top: 16px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.yes-no-btn {
  background-color: white;
  border: 1px solid #171C26;
  border-radius: 50%;
  display: inline-block;
  height: 64px;
  width: 64px;
  padding: 10px;
}

.info-btn {
  color: #171C26;
  display: inline-block;
  width: fit-content;
  margin: 0 16px;
  cursor: pointer;
}

.line {
  width: 50%;
  margin: auto;
  border: 1px solid #6C7689;
  margin-top: 128px;
}

.help-box  {
  margin: auto;
  margin-top: 64px;
  padding: 64px 16px;
  width: 35%;
  background-color: #6C7689;
  border-radius: 5%;
}

.triangle {
  position: absolute;
  margin: 0 auto;
  top: 480px;
  width: 0;
  height: 0;  
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 32px solid #171C26;
  display: none;
  z-index: 10001;
}

.popup-info {
  position: absolute;
  margin: auto;
  top: 512px;
  display: none;
  width: 83%;
  background-image: linear-gradient(#171C26, #6C7689);
  padding: 16px 32px;
  z-index: 10001;
}


/* ---------- tabbar styling ---------- */

.tabbar {
    background-color: white;
    border-radius: 40px;
    position: fixed;
    bottom: -80px;
    left: 0;
    margin: 0 auto;
    z-index: 9999;
    width: 100%;
    height: 160px;
    text-align: center;
  }

/* Style the links inside the navigation bar */

.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  margin: 16px 24px;
  text-decoration: none;
  font-size: 48px;
}

.material-icons.md-40 {
  font-size: 40px !important;
  height: 40px !important;
  width: 40px !important;
}

#home_icon {
  padding: 6px;
}

#music_icon {
  padding: 8px;
}

.tab_icon {
  color: #6C7689;
}

.musicplayer1 {
  background-color: #171C26;
  border-radius: 40px;
  position: fixed;
  bottom: -160px;
  left: 0;
  margin: 0 auto;
  z-index: 9998;
  width: 84%;
  height: 320px;
  text-align: center;
  margin-left: 8%;
  padding-top: 1em;
}

.musicplayer2 {
  background-color: transparent;
  border-radius: 40px;
  position: fixed;
  bottom: -160px;
  left: 0;
  margin: 0 auto;
  z-index: 9998;
  width: 84%;
  height: 320px;
  text-align: center;
  margin-left: 8%;
}

.down-icon {
  color: transparent;
  display: none;
  z-index: 9999;
  position: absolute;
}

#imgIcon {
  width: 40px;
  float: left;
  margin-left: 4%;
}
  
/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}
  
  /* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--green);
}

@media screen and (max-width: 1000px) {
  .page {
    margin-left: 0;
    margin-right: 0;
  }

  .musicplayer1 {
    width:100%;
    margin:0;
  }

  .video-card iframe {
    width: 100%;
    height: auto;
  }

  .line {
    width: 75%;
  }

  .popup-info {
    width: 100%;
    left: 0;
    top: 53%;
  }

  .help-box {
    width: 80%;
    padding: 32px 16px;
  }

  .fav_button {
    margin-right: 0;
  }
}

@media screen and (max-height: 599px) {
  .popup-info {
    top: 60%;
  }
}

/* ---------- grid container styling ---------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  gap: 1em;
}

@media (min-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-container > article {
  text-align: center;
  padding: 2em 1em;
  background-color: var(--white);
  transition: 0.3s;
  cursor: pointer;
}

.grid-container > article:hover {
  box-shadow: 0 8px 16px 0 var(--green-opacity);
}

.grid-container > article img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border: 1px solid #171C26;
  border-radius: 50px;
}

.grid-container > article h4 {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px;
  color: #171C26;
}

.grid-container .empty {
  grid-column: 1 / span 3;
  grid-row: 3;
}

/* ---------- Artists page styling ---------- */

.artists_header {
  color: #171C26;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 30px;
}

.line1 {
  width: 200px;
  border: 1px solid #DFDFDF;
  margin-top: 8px;
  margin-left: 30px;
  display: block;
}

/* ---------- tools grid styling ---------- */

.tools-grid {
  background-color: #6C7689;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 1em;
  gap: 1em;
  justify-items: center;
}

@media (min-width: 480px) {
  .tools-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tools-grid label{
  max-width: 350px;
}